html,body {font-family:Arial,Verdana,Helvetica,Georgia,sans-serif;font-weight:400;font-size:1em;}
h1,h2,h3,h4,h5,h6 {font-family: "Trebuchet MS",sans-serif;}
h1::first-letter {text-transform: uppercase;}
.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
}
th {text-align: left}
a {text-decoration: none; color: #00bcd4;}
.note-categories {font-style: italic;}
.even{background-color:#EEE}
.even:hover{background-color:#E0E0E0}
.odd{background-color:#FFF}
.odd:hover{background-color:#F9F9F9}
label {font-weight: bold}
label.no-label, #note_categories label, #note_form_categories label {font-weight: normal}
form > div > label, form > div > div > label, #form > div > label {margin-right: 10px}
form > div > input, form > div > div > input, #form > div > input, #form > div > select {margin-bottom: 10px}
form > div > button, #form > div > button {margin: 3px 0}
form > div > .checkbox {margin-bottom: 10px}
[type=checkbox] {margin: 0; margin-right: 5px; margin-bottom: 10px}
#note_categories label, #note_form_categories label {margin-right: 10px}
.textarea textarea {width: 75%; height: 300px; margin-bottom: 10px; vertical-align: top}
#sort-category-list,#sort-category-list li,#sort-note-list,#sort-note-list li{list-style-type:none}
#sort-category-list li,#sort-note-list li{margin-left:0}
.item-category-list, .item-note-list{border:1px dotted #000;padding:5px 10px;margin-bottom:5px; cursor: grab}
#sort-category-list,#sort-note-list{padding-left:0}
#note_search_form_search {margin-left: 15px!important;}
fieldset {margin-bottom: 10px}
.no-space {margin-bottom: 0}
#search_notes {margin-top: 5px}
